.footer-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #1C1C1C;
    
    .icons {
        display: flex;
        font-size: 2em;
        color: $orange;
        justify-content: space-around;
        align-items: center;
        min-width: 350px;
        gap: 60px;
        

        #wifi {
            transform: rotate(50deg);
        }
    }

    div {
        color: rgba(255, 255, 255, 0.804);
    }
}

        
@media (max-width:768px) {

    .icons {
        display: none!important;
    }
}
