
header {
    display: flex;
    background: #1C1C1C;
    color: white;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    
    
  
    .img-logo {
        background: $logo ;
        background-repeat: no-repeat;
        height: 60px;
        align-items: center;
        justify-content: center;
        flex: 1;
        margin-left: 10%;
        margin: 10px 10%;
    }
  
    nav {

      display: flex;
      gap: 45px;
      align-items: center;
      justify-content: space-around;
      padding-right: 10%;

      a {
        font-size: 0.8em;
        color: #FFFFFF;
        opacity: 69%;
      

      }


      a:hover {
        opacity: 100%;
        border-bottom: 2px solid #E27866;
        

      }
    
  
    }

  }

  #burger {
    cursor: pointer;
    display: none;
    transition: 0.3s;
 
}

#burger.rotate {
    transform: rotate(-90deg);
}

.link.block {
   display: block;
}





@media (max-width: 768px) {
    nav {
        min-height: 50px;
        height: auto;
        // flex-direction: column;
        
    }

    #burger {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 1.2em;
    }

    .link {
        display: none;
    }
}