@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,400&display=swap');
@import "mixins";
@import "variables";
@import "header";
@import "main";
@import "social-media";
@import "tabs";




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}


