.swiper {
    width: 100%;
    min-height: 300px;
  }


  .swiper-info {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    

    .swiper-bubble {

        max-width: 250px;
       
     
        
        
        #bubble {
            background:#6696E2;
            color: white;
            padding: 15px;
            border-radius: 15px;
            font-size: 0.9em;
            color: rgba(255, 255, 255, 0.8);
            line-height: 20px;
            
            
        }


        .swiper-possition{
            display: flex;
            gap: 20px;
            padding-top: 10px;
            


            img {
                width: 70px;
                height: 70px;
                
            }

            p {
                font-size: 0.9em;
                color: rgba(0, 0, 0, 0.8);
                line-height: 20px;
            }
        }

    }


      
  } 

