.tab-main {
    background: url(../images/desert.png);
    @include mainstyle;
    gap: 5%;
    

    

    .tabs {

        
        button {
            transform: rotate(315deg);
            border: none;
            background: #A37169;
            height: 70px;
            width: 70px;
            
        }
        div {
            height: 100px;
            width: 100px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #A37169;
            margin: 15px;
        
            
        }

        div:hover {
            background:#E27866 ;
            button {
                background:#E27866 ;
                
            }
        }

        


    }

    .tab-info {
        max-width: 650px;

        h1 {
            font-size: 2em;
            
        }

        p {
            padding: 20px  0;
            font-size: 0.8em;
            opacity: 0.8;
        }
    }


    .tab-pictures {

        display: flex;
        flex-direction: column;
        

       .pictures2 {
        display: flex;
        

        img {
            
            height: 168px;
            width: 168px ;
   
        }

        img:hover {
            cursor: pointer;


        }
       }

    }

    .pictures1 {
    
        img {
            height:177px ;
            width: 336px;
            position: relative;
            

        }

        
        img:hover {
            cursor: pointer;
    }
    




    }}





    @media (max-width:768px) {
        .tab-pictures {

            display: none !important;
        }
    }